.header {
    height: 100px;
    background-color: #000;
    margin: 0;
    color: #fff;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.label {
    /* position: absolute; */
    margin: 16px 0;
}

.menu-list {
    padding-left: 0;
}

.menu-item {
    display: inline-block;
    padding: 4px 12px;
}
.active {
    color: var(--primary);
}
